In [1]:
import numpy as np
import pandas as pd

In [2]:
#df['hammer_price'] = None
#split_values = df['estimated_price'].str.split('USD', n=1, expand=True)
#df['estimated_price'] = split_values[0].str.strip()
#df['hammer_price'] = split_values[1].str.strip()
#df

In [3]:
import unidecode

In [4]:
# pdf scanner
import PyPDF2
import pdfminer
# arrays
import pandas as pd
import numpy as np
# os
import os
# NLP
    # regex
import re
    # unicode
import unidecode

In [5]:
# using as a whole pdf because it removes the line breaks \n

# importing required modules
bodies = []

# creating a pdf file object
pdfFileObj = open('./data-2.pdf', 'rb')

# creating a pdf reader object
pdfReader = PyPDF2.PdfReader(pdfFileObj)

# printing number of pages in pdf file
num_pages = len(pdfReader.pages)
#print(f"Number of pages: {num_pages}")

    # loop through all pages and extract text
for page_num in range(num_pages):
    pageObj = pdfReader.pages[page_num]
    text = pageObj.extract_text()
    bodies.append(text)
    #print(f"Page {page_num+1}:\ndata.pdf")
    # validate the process body of text is correct format
    #if type(text) is str:
        #print('Successfully pulled text from page.\n')
    #else:
        #print('Failed to pull text.')
# closing the pdf file object
pdfFileObj.close()

In [6]:
# decoding letters with accents into regular letters & removing character symbols
body_clean = []
for body in bodies:
    body = unidecode.unidecode(body)
    # removing the title of pdf from the body of text
    body = body.replace('Price Database31 October 2023','')
    body_clean.append(body)

In [7]:
# separating each entry by artist name
names = ['Zhang Daqian', 'Andy Warhol', 'Banksy', 'Salvador Dali','Marc Chagell','Pablo Picasso',
         'Rembrandt van Rijn','KAWS','Leonard Tsuguharu Foujita','Yayoi Kusama']
# container for all entries
new_body = []
# container for each artist that has multiple names in the entry
banksy_clean = []
marc_clean = []
pablo_clean = []
rembrandt_clean = []
dali_clean = []
for body in body_clean:
    for name in names:

        # isolating the entries that contain multiple counts of name in entry
            # the text in the if statement is the combined text where the name is repeated
            # these varie between title of piece or within the lot description

        # Banksy / KAWS
        if name == 'Banksy' or 'KAWS':
            if 'Only Banksy' in body:
                banksy_clean.append(body)
            elif 'Banksy and 21st Century Editions' in body:
                banksy_clean.append(body)

        # Marc Chagell
        if name == 'Marc Chagell':
            if 'Marc Chagall, Colour of Life' in body:
                marc_clean.append(body)
        # Dali
        if name == 'Salvador Dali':
            if 'After Salvador Dali' in body:
                dali_clean.append(body)
            elif 'SALVADOR DALI\' "Genesis"' in body:
                dali_clean.append(body)
            elif 'Currier & Ives as Interpreted by Salvador Dali' in body:
                dali_clean.append(body)
        # Picasso
        if name == 'Pablo Picasso':
            if 'After Pablo Picasso' in body:
                pablo_clean.append(body)
        # Rembrandt
        if name == 'Rembrandt van Rijn':
            if 'School of Rembrandt van Rijn' in body:
                rembrandt_clean.append(body)
            elif 'Circle of Rembrandt van Rijn' in body:
                rembrandt_clean.append(body)
            elif 'Studio of Rembrandt van Rijn' in body:
                rembrandt_clean.append(body)
            elif 'Follower of Rembrandt van Rijn' in body:
                rembrandt_clean.append(body)

        # All other values that do not have repeated names
        else:
            entries = body.split(f"{name}")[1:]
        for entry in entries:
            entry = entry.strip()
            # adding an additional space back in between the name and piece_name
            a = ''.join([name+' ',entry])
            a = a.replace('\x00','-')
            new_body.append(a)
            #print(f"{name}")
            #print(a)
            #print("="*30)

In [8]:
# Removing entries from new_body that do not have complete data
new_body = [body for body in new_body if len(body) >= 130]

In [9]:
# cleaning duplicates within new_body
print(len(new_body))
new_body = list(set(new_body))
print(len(new_body))

909
909

In [10]:
# removing duplicates
banksy_clean = list(set(banksy_clean))

In [11]:
banksy_ = []
for i in banksy_clean:
    # splitting by new line
    i.split('\n')
    # adding space after artist name for ease of regex
    i = i.replace('Banksy','Banksy ')
    # removing double spaces
    i = i.replace('  ', ' ')
    banksy_.append(i)

In [12]:
# cleaned banksy entries with multiple appearances of names
#banksy_

In [13]:
# removing duplicates
rembrandt_clean = list(set(rembrandt_clean))

In [14]:
rembrandt_ = []
for i in rembrandt_clean:
    # splitting by new line
    i.split('\n')
    # adding space after artist name for ease of regex
    i = i.replace('Rembrandt','Rembrandt ')
    # removing double spaces
    i = i.replace('  ', ' ')
    rembrandt_.append(i)

In [15]:
# cleaned rembrandt entries with multiple appearances of names
#rembrandt_

In [16]:
marc_ = []
for i in marc_clean:
    # splitting by new line
    i.split('\n')
    # adding space after artist name for ease of regex
    i = i.replace('Marc Chagall','Marc Chagall ')
    # removing double spaces
    i = i.replace('  ', ' ')
    marc_.append(i)

In [17]:
# cleaned marc chagall entries with multiple appearances of names
#marc_

In [18]:
pablo_ = []
for i in pablo_clean:
    # splitting by new line
    i.split('\n')
    # adding space after artist name for ease of regex
    i = i.replace('Pablo Picasso','Pablo Picasso ')
    # removing double spaces
    i = i.replace('  ', ' ')
    pablo_.append(i)

In [19]:
# cleaned pablo picasso entries with multiple appearances of names
#pablo_

In [20]:
dali_ = []
for i in dali_clean:
    # splitting by new line
    i.split('\n')
    # adding space after artist name for ease of regex
    i = i.replace('Salvador Dali','Salvador Dali ')
    # removing double spaces
    i = i.replace('  ', ' ')
    dali_.append(i)

In [21]:
#dali_

In [22]:
len(new_body)

909

In [23]:
add_ins = dali_ + rembrandt_ + marc_ + pablo_ + banksy_

In [24]:
new_body.extend(add_ins)

In [25]:
len(new_body)

937

In [26]:
new_body[-10]

'After Pablo Picasso La Corridacolored aquatintHeight 48 x Width 65 cm.Height 18.898 x Width 25.591 in.1956Edition: 77/20029 November 202211 months agoDorotheumModern Art - [Lot 00151]est. 6,000 u 8,000 EUR15,360EURest. 6,213 u 8,284 USD15,905USD| 92% est\nPablo Picasso Le barbufaienceHeight 31 cm.Height 12.205 in.195329 November 202211 months agoArtcurialLimited Edition - [Lot 00018]est. 8,000 u 12,000 EUR10,496EURest. 8,284 u 12,426 USD10,868USD\nPablo Picasso Carmen.burin print1949Edition: 32029 November 202211 months agoAldeReliures originales & Livres illustresmodernes - [Lot 00113]est. 6,000 u 8,000 EUR10,000EURest. 6,213 u 8,284 USD10,355USD| 25% est\nPablo Picasso HeadearthenwareHeight 32.5 cm.Height 12.795 in.1956Edition: 113/20029 November 202211 months agoDorotheumModern Art - [Lot 00146]est. 6,000 u 8,000 EUR14,080EURest. 6,213 u 8,284 USD14,580USD| 76% est\nPablo Picasso CHOUETTEglazed earthenwareHeight 29.21 x Width 22.86 x Depth 13.97 cm.Height 11.5 x Width 9 x Depth 5.5 in.Edition: 18/35029 November 202211 months agoAbell20th Century Design, November 29th - [Lot00101]est. 12,000 u 18,000 USD17,000USD'

In [27]:
# pre regex
# 1. if name count < 1, drop value
# regex
# 2. Make depth optional
# 3. make foreign currency (estimate & hammer price) optional
# 4.

In [28]:
# seperating by IF has foreign currency
foreign_currency = ['HKD','EUR','NZD','AUD','GBP','KRW','CNY','JPY','CHF','SGD','CAD','TWD','INR','THB','RUB','SEK','DKK','NOK',
                    'PLN','ZAR','MXN','BRL','TRY','AED','SAR','QAR','KWD','OMR','BHD','JOD','ILS','EGP','IDR','MYR','PHP','CZK',
                    'HUF','CLP','ARS','COP','PEN']
# seperating by IF has depth
# Depth as a keyword

In [29]:
#new_body

In [30]:
# new_body with foreign currency
has_foreign_currency = [body for body in new_body if any(currency in body for currency in foreign_currency)]

# new_body without foreign currency
no_foreign_currency = []
for body in new_body:
    if body not in has_foreign_currency:
        no_foreign_currency.append(body)

In [31]:
print(f'Length of FC: {len(has_foreign_currency)},\
 Length of No FC: {len(no_foreign_currency)},\
 Combined = {len(has_foreign_currency) + len(no_foreign_currency)}')

Length of FC: 707, Length of No FC: 230, Combined = 937

In [32]:
depth_fc = [body for body in has_foreign_currency if 'Depth' in body]

In [33]:
len(depth_fc)

54

In [34]:
depth_fc = depth_fc[1:]
#depth_fc

In [35]:
depth_has_estimate_fc = []
for string in depth_fc:
    match = re.search(r'\|', string)
    if match:
        depth_has_estimate_fc.append(string)
    else:
        pass

In [36]:
print(len(depth_has_estimate_fc))
#depth_has_estimate_fc

36

In [37]:
#for body in depth_has_estimate_fc:
    #if '\n' in body:
        #print(f'has n, \n{body}')

In [38]:
#new_body

In [39]:
import re

def remove_special_characters(text):
    # Define a regular expression pattern to match special characters
    pattern = r'[^\w\s]'
    
    # Use re.sub to replace all occurrences of special characters with an empty string
    cleaned_text = re.sub(pattern, '', text)
    
    return cleaned_text

In [40]:
cleaned_body = [remove_special_characters(body) for body in new_body]
#cleaned_body

In [41]:
#for title in cleaned_titles:
    #for i in range(len(cleaned_body)):
        #cleaned_body[i] = cleaned_body[i].replace(title, title + ',')
#cleaned_body

In [42]:
import re

def add_comma_before_capital_h(text):
    # Define a regular expression pattern to find capital H
    pattern = r'Height'
    
    # Use re.sub to add a comma before capital H
    modified_text = re.sub(pattern, ',Height', text)
    
    return modified_text

modified_body = [add_comma_before_capital_h(string) for string in cleaned_body]
#modified_body

In [43]:
#modified_body

In [44]:
data = []
pattern = r"(Zhang Daqian|Andy Warhol|Banksy|Salvador Dali|Marc Chagell|Pablo Picasso|Rembrandt van Rijn|KAWS|Leonard Tsuguharu Foujita|Yayoi Kusama)\s*(.+?)\,?(Height\s*.*\s*in)?(\d{4})[\s\w\dEdition[\s\w]+\s*(January\s*\d{4}|February\s*\d{4}|March\s*\d{4}|April\s*\d{4}|May\s*\d{4}|June\s*\d{4}|July\s*\d{4}|August\s*\d{4}|September\s*\d{4}|October\s*\d{4}|November\s*\d{4}|December\s*\d{4})[\s\w\d]+\s*ago([\s\w,]+)\s*Lot\s*(\d+)[\s\w,]*est\s*(\d+)\s*u\s*(\d+)\s*USD\s*(\d+)USD"
for string in modified_body:
    matches = re.finditer(pattern, string, re.MULTILINE)
    for match in matches:
        artist, title, dimensions, year, time_sold, auction, lot, \
        est_price_low, est_price_high, final_price_usd = match.groups()
        groupdict = {'artist': artist, 'title': title, 'dimensions': dimensions, 'year': year, 'time_sold': time_sold, 'auction': auction, 'lot': lot, 'est_price_low': est_price_low, 'est_price_high': est_price_high, 'final_price_usd': final_price_usd}
        data.append(groupdict)
        #print(data)

        #print(f"Artist: {artist}")
        #print(f"Title: {title}")
        #print(f"Dimensions: {dimensions}")
        #print(f"Year: {year}")
        #print(f"Time Sold: {time_sold}")
        #print(f"Auction: {auction}")
        #print(f"Lot: {lot}")
        #print(f"Estimated Price Low: {est_price_low}")
        #print(f"Estimated Price High: {est_price_high}")
        #print(f"Final Price USD: {final_price_usd}")
        #print("="*30)

In [45]:
df = pd.DataFrame(data)
df

,artist,title,dimensions,year,time_sold,auction,lot,est_price_low,est_price_high,final_price_usd
0,Pablo Picasso,Headearthenware,"Height 325 cm,Height 12795 in",1956,November 2022,DorotheumModern Art,00146,6213,8284,14580
1,Banksy,Banksquiat Blackscreenprint in colours on blac...,"Height 70 x Width 70 cm,Height 27559 x Width 2...",2019,September 2022,Tate Ward AuctionsTate Ward Artsy By Collect...,00274,69204,92272,86505
2,Yayoi Kusama,Lemon Squashscreenprint in colours,"Height 53 x Width 455 cm,Height 20866 x Width ...",1984,December 2022,Mallet JapanModern Contemporary Art,00026,22134,29512,41318
3,Zhang Daqian,Yi Fan Feng Shun ink and color on silk,"Height 1685 x Width 705 cm,Height 66339 x Widt...",1931,December 2022,China Guardian Auctions Co LtdModern Chinese P...,00525,115162,259115,529747
4,Andy Warhol,Vanishing Animals Okapisynthetic polymer paint...,"Height 592 x Width 80 cm,Height 23307 x Width ...",1986,December 2022,Phillips LondonNew Now,00100,6117,8564,18499
...,...,...,...,...,...,...,...,...,...,...
885,Banksy,Love Is In The Aircolor screenprint,"Height 468 x Width 671 cm,Height 18425 x Width...",2003,November 2022,Stockholms AuktionsverkModern and Contemporary...,00010,44047,55639,47525
886,Banksy,Choose Your Weapon Slatescreenprint on paper,"Height 70 x Width 70 cm,Height 27559 x Width 2...",2010,September 2022,Sothebys LondonContemporary Curated Lot 00023...,00003,23068,34602,23068
887,Banksy,Monkey Queenscreenprint in colours,"Height 493 x Width 342 cm,Height 19409 x Width...",2003,September 2022,Bonhams KnightsbridgePrints and Multiples Lot...,00052,90641,135961,114208
888,KAWS,STUCKacrylic pastel charcoal and graphite on p...,"Height 756 x Width 559 cm,Height 29764 x Width...",2022,September 2022,Christies New YorkPostWar to Present Lot 0030...,00149,57816,80943,94703
889,Banksy,Bomb Middle Englandscreenprint in colours,"Height 345 x Width 985 cm,Height 13583 x Width...",2003,November 2022,Forum AuctionsOnly Banksy Lot 00013est 14000 ...,00297,27123,47465,24953

In [46]:
df.to_csv('art.csv')